body {
	background-color: #112543;
}

input {
	width: 60%;
	font-size: 30px;
}

h1 {
	color: #dfff5a;
}

#loginButton {
	background-color: #dfff5a;
	width: 60%;
	font-size: 30px
}

#cancelButton {
	background-color: #cccccc;
	width: 60%;
	font-size: 30px
}

#remember {
	color: whitesmoke;
}

#forgot {
	color: whitesmoke;
}

#utility {
	text-align: justify;
  	text-justify: inter-word;
  	width: 60%;
  	text-align: center;
}