.login-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*input {
    width: 100%; 
}*/

#buttonSubmit {
    width: 100%;
    font-size: 30px;
    background-color: #DFFF5a;
}
#buttonCancel {
    width: 100%;
    font-size: 30px;
    background-color: #cccccc;
}