ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DFFF5a;
}

li {
    display: block;
    float: left;
    color: #112543;
    text-align: left;
    padding: 16px 16px;
}

li:hover {
    background-color: #ccff00;
}