body {
    text-align: center;
    background-color: #0E0E2C;
    
  }
  .topnav {
    background-color: #DFFF5A;
    overflow: hidden;
  }
  .topnav a {
    color: #000000;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
  }

  
  .container {
    width: 90%;
    margin-bottom: 10px;
    text-align: center;

  }
  
  .boxes {
    width: 25%;
    height: 180px;
    border: 2px solid #C4C4C4;
    background: #C4C4C4;
    margin: 40px 20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 180px; 
    font-size: 30px;
  }
  .button{
    background-color: #DFFF5A;
  border: none;
  color: black;
  padding: 15px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  line-height: 40px; 

  }
 